#comp-l1wnipqf {
    min-height: 0px;
    height: auto;
    width: auto;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1wn4e41_r_comp-k9sh4qe5 {
    height: auto;
    width: 80%;
    align-self: start;
    justify-self: center;
    position: relative;
    margin-left: 1.4050819449312695%;
    margin-right: 0%;
    margin-top: 39.711250000000064px;
    margin-bottom: 0px;
    grid-area: 2/3/3/4
}

#comp-l1wnipr51 {
    min-height: 50px;
    height: 21px;
    width: 150px;
    align-self: start;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 50.000126px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 2/1/3/2
}

#comp-l1wnipra {
    min-height: 0px;
    height: 50px;
    width: 50px;
    align-self: start;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 2/1/3/2
}

#comp-l1wnjsot {
    min-height: 0px;
    height: 50px;
    width: 50px;
    align-self: end;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 12.906500000000051px;
    grid-area: 1/1/2/2
}

#comp-l1wnjsy3 {
    min-height: 50px;
    height: 21px;
    width: 150px;
    align-self: end;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 50.0005000000001px;
    margin-top: 0px;
    margin-bottom: 12.906500000000051px;
    grid-area: 1/1/2/2
}

#comp-l1x0bugy1 {
    width: 100%;
    height: 100%;
    min-height: 40px;
    align-self: start;
    justify-self: stretch;
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1wn4e41_r_comp-k9sgylox {
    height: auto;
    width: 83%;
    min-width: 0px;
    align-self: start;
    justify-self: center;
    position: relative;
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 61px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1wn4e41_r_comp-kab21j03 {
    height: auto;
    width: auto;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 1
}

#comp-l1wn4e41_r_comp-k9sh35to {
    height: auto;
    width: 95%;
    min-width: 0px;
    position: relative;
    margin-left: 2.5%;
    margin-right: 0px;
    margin-top: 9.5px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 2
}

#comp-l1wnipqz {
    height: auto;
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 1
}

#comp-l1wnipr2 {
    height: auto;
    width: 99.99017%;
    position: relative;
    margin-left: 0.003274823%;
    margin-right: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
    align-self: center;
    order: 2
}

#b9pxu {
    height: auto
}

#b9pxu .b9pxu-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: minmax(0px, 1fr)
}

#b9pxu:not(.b9pxu-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4e41 {
    height: auto;
    width: auto;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 2/1/3/2
}

.comp-l1wn4e41-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1wn4e41:not(.comp-l1wn4e41-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4enn {
    height: auto;
    width: auto;
    align-self: start;
    justify-self: end;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    grid-area: 1/1/2/2;
    pointer-events: auto
}

.comp-l1wn4enn-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1wn4enn:not(.comp-l1wn4enn-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wnipq1 {
    height: auto;
    min-height: 99.78814vh;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 1/1/2/2
}

#comp-l1wnipq1 .comp-l1wnipq1-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(max-content, 100%);
    grid-template-columns: 1fr
}

#comp-l1wnipq1:not(.comp-l1wnipq1-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4e41_r_comp-k6gjwdge {
    height: auto;
    min-height: 0px;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 3/1/4/2
}

.comp-l1wn4e41_r_comp-k6gjwdge-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(50px, max-content) minmax(50px, max-content);
    grid-template-columns: 0.8fr 1fr 2fr
}

#comp-l1wn4e41_r_comp-k6gjwdge:not(.comp-l1wn4e41_r_comp-k6gjwdge-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4enn_r_comp-k9ttg4ds {
    height: auto;
    width: 100vw;
    min-height: 100vh;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 1/1/2/2
}

#comp-l1wn4enn_r_comp-k9ttg4ds .comp-l1wn4enn_r_comp-k9ttg4ds-overflow-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

#comp-l1wn4enn_r_comp-k9ttg4ds .comp-l1wn4enn_r_comp-k9ttg4ds-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1wn4enn_r_comp-k9ttg4ds:not(.comp-l1wn4enn_r_comp-k9ttg4ds-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4enn_r_comp-k9ttg4ds .comp-l1wn4enn_r_comp-k9ttg4ds-overflow-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0
}

#comp-l1wnipqh1 {
    min-height: 357.1875px;
    height: auto;
    min-width: 500px;
    width: 39.99964702560241%;
    max-width: 600px;
    max-height: 99999px;
    align-self: end;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 12.992624999999975px;
    grid-area: 1/1/2/2
}

.comp-l1wnipqh1-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(303.09942016063576px, max-content) minmax(54.08857983936424px, max-content);
    grid-template-columns: 1fr
}

#comp-l1wnipqh1:not(.comp-l1wnipqh1-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1x0bug5 {
    width: 120px;
    height: 40px;
    min-height: 40px;
    align-self: start;
    justify-self: end;
    position: relative;
    margin-left: 0px;
    margin-right: 40px;
    margin-top: 25px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

.comp-l1x0bug5-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1x0bug5:not(.comp-l1x0bug5-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4e41_r_comp-k9sgyllt {
    height: 142px;
    width: 142px;
    min-width: 0px;
    min-height: 0px;
    align-self: end;
    justify-self: start;
    position: relative;
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 70px;
    grid-area: 2/1/3/2
}

.comp-l1wn4e41_r_comp-k9sgyllt-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1wn4e41_r_comp-k9sgyllt:not(.comp-l1wn4e41_r_comp-k9sgyllt-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4e41_r_comp-kab237xs {
    height: max-content;
    width: 73%;
    align-self: end;
    justify-self: start;
    position: relative;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 70px;
    grid-area: 2/2/3/3
}

.comp-l1wn4e41_r_comp-kab237xs-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

#comp-l1wn4e41_r_comp-kab237xs:not(.comp-l1wn4e41_r_comp-kab237xs-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wnipql {
    height: max-content;
    width: 80%;
    max-width: 460px;
    align-self: start;
    justify-self: start;
    position: relative;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: 40px;
    grid-area: 1/1/2/2
}

.comp-l1wnipql-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

#comp-l1wnipql:not(.comp-l1wnipql-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1wn4enn-pinned-layer {
    position: fixed;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    top: 0;
    bottom: unset;
    height: calc(100% - var(--wix-ads-height));
    margin-top: var(--wix-ads-height)
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1wn4e41_r_comp-k9sh4qe5 {
        width: 90%;
        min-width: 0px;
        align-self: end;
        justify-self: start;
        margin-left: 0%;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
        grid-area: 1/2/2/3
    }

    #comp-l1wn4e41_r_comp-k9sgylox {
        width: 83%;
        max-width: 99999px;
        align-self: center;
        margin-left: 0%;
        margin-top: 0px
    }

    #comp-l1wn4e41_r_comp-k9sh35to {
        width: 95%
    }

    .comp-l1wn4e41_r_comp-k6gjwdge-container {
        grid-template-rows: minmax(50px, max-content) minmax(50px, max-content);
        grid-template-columns: 1.2fr 1fr
    }

    #comp-l1wn4e41_r_comp-k9sgyllt {
        align-self: start;
        justify-self: start;
        margin-left: 80px;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-area: 2/1/3/2
    }

    #comp-l1wn4e41_r_comp-kab237xs {
        width: 72%;
        align-self: end;
        margin-left: 80px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
        grid-area: 2/1/3/2
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1wn4e41_r_comp-k9sh4qe5 {
        width: 90%;
        min-width: 0px;
        align-self: start;
        justify-self: start;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: 46px;
        margin-bottom: 40px;
        grid-area: 2/1/3/2
    }

    #comp-l1wn4e41_r_comp-k9sgylox {
        width: 71%;
        max-width: 99999px;
        align-self: center;
        margin-left: 0%;
        margin-top: 0px
    }

    #comp-l1wn4e41_r_comp-kab21j03 {
        width: 106px;
        min-height: 0px
    }

    #comp-l1wn4e41_r_comp-k9sh35to {
        width: 50%;
        min-height: 0px;
        margin-left: 0%
    }

    .comp-l1wn4e41_r_comp-k6gjwdge-container {
        grid-template-rows: minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content);
        grid-template-columns: 1fr
    }

    #comp-l1wn4e41_r_comp-k9sgyllt {
        align-self: start;
        justify-self: center;
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 0px;
        grid-area: 4/1/5/2
    }

    #comp-l1wn4e41_r_comp-kab237xs {
        width: 90%;
        align-self: start;
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 200px;
        margin-bottom: 40px;
        grid-area: 4/1/5/2
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1wnipqh1 {
        width: 50%
    }

    .comp-l1wnipqh1-container {
        grid-template-rows: minmax(169.60486px, max-content) minmax(30.395136px, max-content);
        grid-template-columns: 1fr
    }

    #comp-l1wnipql {
        max-width: 320px
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1wnipr51 {
        margin-right: 50px;
        margin-bottom: 50px
    }

    #comp-l1wnipra {
        margin-bottom: 50px
    }

    #comp-l1wnipq1 {
        min-height: 0px
    }

    #comp-l1wnipq1 .comp-l1wnipq1-container {
        grid-template-rows: minmax(400px, max-content) minmax(50px, max-content)
    }

    #comp-l1wnipqh1 {
        min-height: 50px;
        min-width: 0px;
        width: 100%;
        max-width: 99999px;
        align-self: start;
        justify-self: start;
        margin-left: 0%;
        margin-right: 0px;
        margin-bottom: 0px;
        grid-area: 2/1/2/2
    }

    .comp-l1wnipqh1-container {
        grid-template-rows: minmax(30.69498px, max-content) minmax(19.30502px, max-content);
        grid-template-columns: 10fr
    }

    #comp-l1x0bug5 {
        margin-right: 18px;
        margin-top: 24px
    }

    #comp-l1wnipql {
        width: 75%;
        margin-left: 50px;
        margin-top: 40px
    }
}

#comp-l1wn4e41 {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49
}

#comp-l1wn4enn-pinned-layer {
    z-index: 53;
    --above-all-in-container: 10000
}

#PAGE_SECTIONSb9pxu {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    src: url("./css/poppins/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
    src: url("./css/poppins/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
        url("./css/poppins/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
        url("./css/poppins/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
        url("./css/poppins/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
        url("./css/poppins/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    src: url("./css/poppins/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
    src: url("./css/poppins/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
        url("./css/poppins/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
        url("./css/poppins/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
        url("./css/poppins/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
        url("./css/poppins/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-style: italic;
    src: url("./css/poppins/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
    src: url("./css/poppins/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
        url("./css/poppins/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
        url("./css/poppins/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
        url("./css/poppins/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
        url("./css/poppins/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    font-style: italic;
    src: url("./css/poppins/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("./css/poppins/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("./css/poppins/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("./css/poppins/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("./css/poppins/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
        url("./css/poppins/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(./css/poppins/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(./css/poppins/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(./css/poppins/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(./css/poppins/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(./css/poppins/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(./css/poppins/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(./css/poppins/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(./css/poppins/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(./css/poppins/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(./css/poppins/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(./css/poppins/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(./css/poppins/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    src: url("./css/barlow/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("./css/barlow/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("./css/barlow/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("./css/barlow/ZqlneECqpsd9SXlmAsD2Ez8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("./css/barlow/ZqlneECqpsd9SXlmAsD2E6CWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
    1    url("./css/barlow/font?kit=ZqlneECqpsd9SXlmAsD2E5bd9NUM7myrQQz30yPaGQ4&skey=4c8d0d0b13516148&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-weight: 700;
    src: url("./css/barlow/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("./css/barlow/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("./css/barlow/yS165lxqGuDghyUMXeu6xVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("./css/barlow/yS165lxqGuDghyUMXeu6xT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("./css/barlow/yS165lxqGuDghyUMXeu6xaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
    2    url("./css/barlow/font?kit=yS165lxqGuDghyUMXeu6xZbd9NUM7myrQQz30yPaGQ4&skey=f60e73b1bbf362f3&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-style: italic;
    src: url("./css/barlow/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("./css/barlow/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
        url("./css/barlow/xJLokI-F3wr7NRWXgS0pZ6g5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
        url("./css/barlow/xJLokI-F3wr7NRWXgS0pZ9Ih4imgI8P11RFo6YPCPC0.woff") format("woff"),
        url("./css/barlow/xJLokI-F3wr7NRWXgS0pZ102b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
    3    url("./css/barlow/font?kit=xJLokI-F3wr7NRWXgS0pZ5S_ZaL0arjVp2tkn2-HJhM&skey=989d87b0113009a2&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-weight: 700;
    font-style: italic;
    src: url("./css/barlow/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("./css/barlow/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
        url("./css/barlow/hw7DQwyFvE7wFOFzpow4xqg5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
        url("./css/barlow/hw7DQwyFvE7wFOFzpow4xtIh4imgI8P11RFo6YPCPC0.woff") format("woff"),
        url("./css/barlow/hw7DQwyFvE7wFOFzpow4xl02b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
    4    url("./css/barlow/font?kit=hw7DQwyFvE7wFOFzpow4xpS_ZaL0arjVp2tkn2-HJhM&skey=25c93348b6ec64d8&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(./css/barlow/7cHrv4kjgoGqM7E_Cfs0wH8DnzcjTrA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(./css/barlow/7cHrv4kjgoGqM7E_Cfs1wH8DnzcjTrA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(./css/barlow/7cHrv4kjgoGqM7E_Cfs7wH8Dnzcj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(./css/barlow/7cHsv4kjgoGqM7E_CfOA5WohvToJdLm8BvE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(./css/barlow/7cHsv4kjgoGqM7E_CfOA5WogvToJdLm8BvE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(./css/barlow/7cHsv4kjgoGqM7E_CfOA5WouvToJdLm8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(./css/barlow/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(./css/barlow/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(./css/barlow/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(./css/barlow/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(./css/barlow/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(./css/barlow/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: "Poppins-SemiBold";
    src: url("./css/poppins/9VWMTeb5jtXkNoTv949NpVQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
    src: url("./css/poppins/9VWMTeb5jtXkNoTv949NpVQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
        url("./css/poppins/9VWMTeb5jtXkNoTv949Npfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
        url("./css/poppins/9VWMTeb5jtXkNoTv949NpRsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
        url("./css/poppins/9VWMTeb5jtXkNoTv949NpS3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
        url("./css/poppins/font?kit=9VWMTeb5jtXkNoTv949NpaWUboTb-jS2tyCOQMtm97g&skey=ce7ef9d62ca89319&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-SemiBold";
    font-weight: 700;
    src: url("./css/poppins/aDjpMND83pDErGXlVEr-SVQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
    src: url("./css/poppins/aDjpMND83pDErGXlVEr-SVQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
        url("./css/poppins/aDjpMND83pDErGXlVEr-Sfk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
        url("./css/poppins/aDjpMND83pDErGXlVEr-SRsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
        url("./css/poppins/aDjpMND83pDErGXlVEr-SS3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
        url("./css/poppins/font?kit=aDjpMND83pDErGXlVEr-SaWUboTb-jS2tyCOQMtm97g&skey=cea76fe63715a67a&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-SemiBold";
    font-style: italic;
    src: url("./css/poppins/RbebACOccNN-5ixkDIVLjalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
    src: url("./css/poppins/RbebACOccNN-5ixkDIVLjalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
        url("./css/poppins/RbebACOccNN-5ixkDIVLjRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
        url("./css/poppins/RbebACOccNN-5ixkDIVLjRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
        url("./css/poppins/RbebACOccNN-5ixkDIVLjdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
        url("./css/poppins/font?kit=RbebACOccNN-5ixkDIVLjd1LKoZ82bBu2f46DhHcs3c&skey=7fbc556774b13ef0&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-SemiBold";
    font-weight: 700;
    font-style: italic;
    src: url("./css/poppins/c4FPK8_hIFKoX59qcGwdCqlSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
    src: url("./css/poppins/c4FPK8_hIFKoX59qcGwdCqlSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
        url("./css/poppins/c4FPK8_hIFKoX59qcGwdChUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
        url("./css/poppins/c4FPK8_hIFKoX59qcGwdCha1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
        url("./css/poppins/c4FPK8_hIFKoX59qcGwdCtqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
        url("./css/poppins/font?kit=c4FPK8_hIFKoX59qcGwdCt1LKoZ82bBu2f46DhHcs3c&skey=29c3bd833a54ba8c&v=v5#Poppins") format("svg");
}

#comp-l1wnipqf {
    --backgroundColor: 0, 0, 0;
    --borderColor: 255, 255, 255;
    --alpha-borderColor: 1;
    --borderWidth: 0px;
    --cornerRadius: 0px;
    --boxShadow: 0px 0px 0px 0px rgba(0, 0, 0, 1);
    --mediaOpacity: 1;
    --alpha-backgroundColor: 0
}

#comp-l1wn4e41_r_comp-k9sh4qe5 {
    --fontStyle: normal;
    --textScale__minFontSize: 12;
    --color: var(--color_11);
    --alpha-color: 1;
    --fontFamily: poppins-extralight, poppins, sans-serif;
    --letterSpacing: 0.3em;
    --lineHeight: 1.6em;
    --fontSize: 24px;
    --textScale__maxFontSize: 24;
    --fontWeight: bold
}

#comp-l1wn4e41_r_comp-k9sh4qe5 p,
#comp-l1wn4e41_r_comp-k9sh4qe5 h1,
#comp-l1wn4e41_r_comp-k9sh4qe5 h2,
#comp-l1wn4e41_r_comp-k9sh4qe5 h3,
#comp-l1wn4e41_r_comp-k9sh4qe5 h4,
#comp-l1wn4e41_r_comp-k9sh4qe5 h5,
#comp-l1wn4e41_r_comp-k9sh4qe5 h6,
#comp-l1wn4e41_r_comp-k9sh4qe5 ul,
#comp-l1wn4e41_r_comp-k9sh4qe5 ol {
    color: #FFFFFF;
    font-family: poppins-extralight, poppins, sans-serif;
    font-weight: bold;
    font-size: calc(12px + (24 - 12) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-style: normal;
    letter-spacing: 0.3em;
    line-height: 1.6;
    min-height: 0vw
}

#comp-l1wnipr51 {
    --rd: 0px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --horizontalPadding: 15px;
    --verticalPadding: 10px;
    --fnt: normal normal normal 18px/1.4em poppins-semibold, poppins, sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_15);
    --bg: var(--color_12);
    --brd: 50, 50, 50;
    --brw: 0px;
    --bgh: 0, 0, 0;
    --brdh: 50, 50, 50;
    --txth: 255, 255, 255;
    --bgd: 204, 204, 204;
    --alpha-bgd: 1;
    --txtd: 255, 255, 255;
    --alpha-txtd: 1;
    --alpha-txth: 1;
    --alpha-brdh: 1;
    --alpha-brd: 1;
    --alpha-bg: 1;
    --alpha-bgh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --shc-mutated-brightness: 122, 122, 122;
    --label-align: center;
    --label-text-align: center
}

#comp-l1wnipra {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 90px;
    --width: 160px
}

#comp-l1wnjsot {
    --contentPaddingLeft: 0px;
    --contentPaddingRight: 0px;
    --contentPaddingTop: 0px;
    --contentPaddingBottom: 0px;
    --height: 90px;
    --width: 160px
}

#comp-l1wnjsy3 {
    --rd: 0px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --horizontalPadding: 15px;
    --verticalPadding: 10px;
    --fnt: normal normal normal 18px/1.4em poppins-semibold, poppins, sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_15);
    --bg: var(--color_12);
    --brd: 50, 50, 50;
    --brw: 0px;
    --bgh: 0, 0, 0;
    --brdh: 50, 50, 50;
    --txth: 255, 255, 255;
    --bgd: 204, 204, 204;
    --alpha-bgd: 1;
    --txtd: 255, 255, 255;
    --alpha-txtd: 1;
    --alpha-txth: 1;
    --alpha-brdh: 1;
    --alpha-brd: 1;
    --alpha-bg: 1;
    --alpha-bgh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --shc-mutated-brightness: 122, 122, 122;
    --label-align: center;
    --label-text-align: center
}

#comp-l1x0bugy1 {
    --bg: var(--color_11);
    --alpha-txth: 1;
    --brw: 0px;
    --brd: var(--color_15);
    --rd: 0px;
    --shd: none;
    --bg-dd: var(--color_11);
    --alpha-bg-dd: 1;
    --brw-dd: 1px;
    --brd-dd: var(--color_15);
    --txt: var(--color_18);
    --rd-dd: 0px;
    --shd-dd: none;
    --fnt: normal normal bold 16px/1.4em barlow-extralight, barlow, sans-serif;
    --fnt-size-dd: 15px;
    --txt-dd: var(--color_15);
    --alpha-txt-dd: 1;
    --txt-slct-dd: var(--color_19);
    --alpha-txt-slct-dd: 1;
    --txth-dd: var(--color_19);
    --alpha-txth-dd: 1;
    --alpha-txt: 1;
    --badge-bg: 226, 28, 33;
    --alpha-badge-bg: 1;
    --badge-txt: var(--color_11);
    --alpha-badge-txt: 1;
    --fillcolor: var(--color_18);
    --alpha-fillcolor: 1;
    --alpha-bg: 0;
    --alpha-brd: 1;
    --alpha-brd-dd: 0.2;
    --boxShadowToggleOn-shd: none;
    --boxShadowToggleOn-shd-dd: none;
    --avatarAndArrowStrokeWidth: 0px;
    --avatarCornerRadius: 100px;
    justify-content: flex-end;
    direction: ltr;
    --icon-size: 26px;
    --txth: var(--color_19);
    --arrow-size: 14px
}

#comp-l1wn4e41_r_comp-k9sgylox {
    --fontSize: 15px;
    --fontFamily: poppins-extralight, poppins, sans-serif;
    --fontWeight: bold;
    --color: var(--color_11);
    --alpha-color: 1;
    --fontStyle: normal;
    --lineHeight: 1.4em;
    --letterSpacing: 0.25em
}

#comp-l1wn4e41_r_comp-k9sgylox p,
#comp-l1wn4e41_r_comp-k9sgylox h1,
#comp-l1wn4e41_r_comp-k9sgylox h2,
#comp-l1wn4e41_r_comp-k9sgylox h3,
#comp-l1wn4e41_r_comp-k9sgylox h4,
#comp-l1wn4e41_r_comp-k9sgylox h5,
#comp-l1wn4e41_r_comp-k9sgylox h6,
#comp-l1wn4e41_r_comp-k9sgylox ul,
#comp-l1wn4e41_r_comp-k9sgylox ol {
    color: #FFFFFF;
    font-family: poppins-extralight, poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.25em;
    line-height: 1.4
}

#comp-l1wn4e41_r_comp-kab21j03 {
    --item-size: 30px;
    --item-margin: 0 8px 0 0;
    --item-display: inline-block;
    --flex-direction: row
}

#comp-l1wn4e41_r_comp-k9sh35to {
    --color: var(--color_11);
    --alpha-color: 1
}

#comp-l1wn4e41_r_comp-k9sh35to p,
#comp-l1wn4e41_r_comp-k9sh35to h1,
#comp-l1wn4e41_r_comp-k9sh35to h2,
#comp-l1wn4e41_r_comp-k9sh35to h3,
#comp-l1wn4e41_r_comp-k9sh35to h4,
#comp-l1wn4e41_r_comp-k9sh35to h5,
#comp-l1wn4e41_r_comp-k9sh35to h6,
#comp-l1wn4e41_r_comp-k9sh35to ul,
#comp-l1wn4e41_r_comp-k9sh35to ol {
    color: #FFFFFF
}

#comp-l1wnipqz {
    --fontSize: 24px
}

#comp-l1wnipqz p,
#comp-l1wnipqz h1,
#comp-l1wnipqz h2,
#comp-l1wnipqz h3,
#comp-l1wnipqz h4,
#comp-l1wnipqz h5,
#comp-l1wnipqz h6,
#comp-l1wnipqz ul,
#comp-l1wnipqz ol {
    font-size: 24px
}

#comp-l1wnipr2 {
    --lineHeight: 1.3em;
    --fontSize: 52px
}

#comp-l1wnipr2 p,
#comp-l1wnipr2 h1,
#comp-l1wnipr2 h2,
#comp-l1wnipr2 h3,
#comp-l1wnipr2 h4,
#comp-l1wnipr2 h5,
#comp-l1wnipr2 h6,
#comp-l1wnipr2 ul,
#comp-l1wnipr2 ol {
    font-size: 52px;
    line-height: 1.3
}

#b9pxu {
    --bg: var(--color_11);
    --alpha-bg: 1;
    --shc-mutated-brightness: 128, 128, 128
}

#comp-l1wn4e41 {
    --alpha-bg: 0;
    --bg: var(--color_11)
}

#comp-l1wn4enn {
    --alpha-bg: 0;
    --bg: var(--color_11)
}

#comp-l1wnipq1 {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --bg-overlay-color: rgb(var(--color_11));
    --bg-gradient: none
}

#comp-l1wn4e41_r_comp-k6gjwdge {
    --bg: var(--color_15);
    --alpha-bg: 1
}

#comp-l1wn4enn_r_comp-k9ttg4ds {
    --containerBackground: var(--color_15);
    --alpha-containerBackground: 1;
    --bg: var(--color_15);
    --alpha-bg: 0.8;
    --screen-width: 100vw
}

#comp-l1wnipqh1 {
    --brw: 1px;
    --brd: var(--color_14);
    --bg: var(--color_11);
    --rd: 0px;
    --shd: none;
    --alpha-brd: 0.18;
    --alpha-bg: 0.59;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128, 128, 128
}

#comp-l1wn4e41_r_comp-k9sgyllt {
    --brw: 1px;
    --brd: var(--color_11);
    --bg: var(--color_15);
    --rd: 122px 122px 122px 122px;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 19, 19, 19
}

#comp-l1wn4e41_r_comp-kab237xs {
    --brw: 0px;
    --brd: var(--color_15);
    --bg: 255, 255, 255;
    --rd: 0px;
    --shd: none;
    --alpha-bg: 0;
    --alpha-brd: 0;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128, 128, 128
}

#comp-l1wnipql {
    --brw: 0px;
    --brd: var(--color_15);
    --bg: 0, 0, 0;
    --rd: 0px;
    --shd: none;
    --alpha-brd: 0;
    --alpha-bg: 0;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 0, 0, 0
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1wn4e41_r_comp-k9sh35to {
        --color: var(--color_11);
        --alpha-color: 1
    }

    #comp-l1wn4e41_r_comp-k9sh35to {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1wn4e41_r_comp-k9sh4qe5 {
        --fontStyle: normal;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontWeight: bold;
        --fontSize: 12px;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --lineHeight: 1.6em;
        --letterSpacing: 0.3em
    }

    #comp-l1wn4e41_r_comp-k9sh4qe5 p,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h1,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h2,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h3,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h4,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h5,
    #comp-l1wn4e41_r_comp-k9sh4qe5 h6,
    #comp-l1wn4e41_r_comp-k9sh4qe5 ul,
    #comp-l1wn4e41_r_comp-k9sh4qe5 ol {
        font-size: 12px !important
    }

    #comp-l1wn4e41_r_comp-k9sgylox {
        --fontSize: 14px;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --fontWeight: bold;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontStyle: normal;
        --lineHeight: 1.4em;
        --letterSpacing: 0.32em
    }

    #comp-l1wn4e41_r_comp-k9sgylox p,
    #comp-l1wn4e41_r_comp-k9sgylox h1,
    #comp-l1wn4e41_r_comp-k9sgylox h2,
    #comp-l1wn4e41_r_comp-k9sgylox h3,
    #comp-l1wn4e41_r_comp-k9sgylox h4,
    #comp-l1wn4e41_r_comp-k9sgylox h5,
    #comp-l1wn4e41_r_comp-k9sgylox h6,
    #comp-l1wn4e41_r_comp-k9sgylox ul,
    #comp-l1wn4e41_r_comp-k9sgylox ol {
        font-size: 14px !important;
        letter-spacing: 0.32em !important
    }

    #comp-l1wn4e41_r_comp-k9sh4qe5 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }

    #comp-l1wn4e41_r_comp-k9sgylox {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1wnipr2 {
        --lineHeight: 1.3em;
        --fontSize: 40px
    }

    #comp-l1wnipr2 p,
    #comp-l1wnipr2 h1,
    #comp-l1wnipr2 h2,
    #comp-l1wnipr2 h3,
    #comp-l1wnipr2 h4,
    #comp-l1wnipr2 h5,
    #comp-l1wnipr2 h6,
    #comp-l1wnipr2 ul,
    #comp-l1wnipr2 ol {
        font-size: 40px !important
    }

    #comp-l1wnipr2 {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1wnipqz {
        --fontSize: 18px
    }

    #comp-l1wnipqz p,
    #comp-l1wnipqz h1,
    #comp-l1wnipqz h2,
    #comp-l1wnipqz h3,
    #comp-l1wnipqz h4,
    #comp-l1wnipqz h5,
    #comp-l1wnipqz h6,
    #comp-l1wnipqz ul,
    #comp-l1wnipqz ol {
        font-size: 18px !important
    }

    #comp-l1wnipr2 {
        --lineHeight: 1.3em;
        --fontSize: 28px
    }

    #comp-l1wnipr2 p,
    #comp-l1wnipr2 h1,
    #comp-l1wnipr2 h2,
    #comp-l1wnipr2 h3,
    #comp-l1wnipr2 h4,
    #comp-l1wnipr2 h5,
    #comp-l1wnipr2 h6,
    #comp-l1wnipr2 ul,
    #comp-l1wnipr2 ol {
        font-size: 28px !important
    }

    #comp-l1wnipqh1 {
        --brw: 0px;
        --brd: var(--color_14);
        --bg: var(--color_13);
        --rd: 0px;
        --shd: none;
        --alpha-brd: 0;
        --alpha-bg: 1;
        --boxShadowToggleOn-shd: none;
        --shc-mutated-brightness: 127, 96, 37
    }

    #comp-l1wnipqh1 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }

    #comp-l1wnipqz {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }

    #comp-l1wnipr2 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }
}