#comp-l1qwilnw {
    min-height: 0px;
    height: auto;
    min-width: 0px;
    width: auto;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1qwi81r_r_comp-k9sh4qe5 {
    height: auto;
    width: 80%;
    align-self: start;
    justify-self: center;
    position: relative;
    margin-left: 1.4050819449312695%;
    margin-right: 0%;
    margin-top: 39.711250000000064px;
    margin-bottom: 0px;
    grid-area: 2/3/3/4
}

#comp-l1qwilnh1 {
    min-height: 0px;
    height: auto;
    min-width: 0px;
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
    order: 1
}

#comp-l1qwilnp4 {
    min-height: 0px;
    height: auto;
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 32px;
    margin-bottom: 0px;
    align-self: center;
    order: 2
}

#comp-l1qwilns3 {
    height: auto;
    width: 144px;
    min-height: 40px;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 26px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 3
}

#comp-l1qwi7nu_r_comp-l1h20fdx1 {
    height: auto;
    width: 80%;
    min-width: 0px;
    align-self: center;
    justify-self: center;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1qwi81r_r_comp-k9sgylox {
    height: auto;
    width: 83%;
    min-width: 0px;
    align-self: start;
    justify-self: center;
    position: relative;
    margin-left: 3%;
    margin-right: 0%;
    margin-top: 61px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

#comp-l1qwi81r_r_comp-kab21j03 {
    height: auto;
    width: auto;
    position: relative;
    margin-left: 0%;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 1
}

#comp-l1qwi81r_r_comp-k9sh35to {
    height: auto;
    width: 95%;
    min-width: 0px;
    position: relative;
    margin-left: 2.5%;
    margin-right: 0px;
    margin-top: 9.5px;
    margin-bottom: 0px;
    align-self: flex-start;
    order: 2
}

#u3lgs {
    height: auto
}

#u3lgs .u3lgs-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: minmax(0px, 1fr)
}

#u3lgs:not(.u3lgs-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi7nu {
    height: auto;
    width: auto;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 1/1/2/2
}

.comp-l1qwi7nu-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi7nu:not(.comp-l1qwi7nu-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi81r {
    height: auto;
    width: auto;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 3/1/4/2
}

.comp-l1qwi81r-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi81r:not(.comp-l1qwi81r-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi8dn {
    height: auto;
    width: auto;
    align-self: start;
    justify-self: end;
    position: relative;
    margin-top: 0px;
    margin-right: 0px;
    grid-area: 1/1/2/2;
    pointer-events: auto
}

.comp-l1qwi8dn-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi8dn:not(.comp-l1qwi8dn-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwiln1 {
    height: auto;
    min-height: 0px;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 2/1/3/2
}

#comp-l1qwiln1 .comp-l1qwiln1-container {
    position: relative;
    box-sizing: border-box;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    display: grid;
    grid-template-rows: minmax(500px, max-content);
    grid-template-columns: 1fr 1fr
}

#comp-l1qwiln1:not(.comp-l1qwiln1-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi7nu_r_comp-k6gjwdd6 {
    height: 244.25px;
    max-height: 99999px;
    min-height: 0px;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 1/1/2/2
}

.comp-l1qwi7nu_r_comp-k6gjwdd6-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi7nu_r_comp-k6gjwdd6:not(.comp-l1qwi7nu_r_comp-k6gjwdd6-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi81r_r_comp-k6gjwdge {
    height: auto;
    min-height: 0px;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 3/1/4/2
}

.comp-l1qwi81r_r_comp-k6gjwdge-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: minmax(50px, max-content) minmax(50px, max-content);
    grid-template-columns: 0.8fr 1fr 2fr
}

#comp-l1qwi81r_r_comp-k6gjwdge:not(.comp-l1qwi81r_r_comp-k6gjwdge-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi8dn_r_comp-k9ttg4ds {
    height: auto;
    width: 100vw;
    min-height: 100vh;
    align-self: stretch;
    justify-self: stretch;
    position: relative;
    grid-area: 1/1/2/2
}

#comp-l1qwi8dn_r_comp-k9ttg4ds .comp-l1qwi8dn_r_comp-k9ttg4ds-overflow-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none
}

#comp-l1qwi8dn_r_comp-k9ttg4ds .comp-l1qwi8dn_r_comp-k9ttg4ds-container {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi8dn_r_comp-k9ttg4ds:not(.comp-l1qwi8dn_r_comp-k9ttg4ds-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi8dn_r_comp-k9ttg4ds .comp-l1qwi8dn_r_comp-k9ttg4ds-overflow-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0
}

#comp-l1qwiln53 {
    height: max-content;
    width: 79.99963%;
    max-width: 460px;
    align-self: center;
    justify-self: center;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 22%;
    margin-bottom: 22%;
    grid-area: 1/2/2/3
}

.comp-l1qwiln53-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

#comp-l1qwiln53:not(.comp-l1qwiln53-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi7nu_r_comp-l1h20fd6 {
    height: 130px;
    width: 130px;
    min-width: 0px;
    min-height: 0px;
    align-self: center;
    justify-self: start;
    position: relative;
    margin-left: 54px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/2
}

.comp-l1qwi7nu_r_comp-l1h20fd6-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi7nu_r_comp-l1h20fd6:not(.comp-l1qwi7nu_r_comp-l1h20fd6-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi81r_r_comp-k9sgyllt {
    height: 142px;
    width: 142px;
    min-width: 0px;
    min-height: 0px;
    align-self: end;
    justify-self: start;
    position: relative;
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 70px;
    grid-area: 2/1/3/2
}

.comp-l1qwi81r_r_comp-k9sgyllt-container {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr
}

#comp-l1qwi81r_r_comp-k9sgyllt:not(.comp-l1qwi81r_r_comp-k9sgyllt-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi81r_r_comp-kab237xs {
    height: max-content;
    width: 73%;
    align-self: end;
    justify-self: start;
    position: relative;
    margin-left: 8%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 70px;
    grid-area: 2/2/3/3
}

.comp-l1qwi81r_r_comp-kab237xs-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column
}

#comp-l1qwi81r_r_comp-kab237xs:not(.comp-l1qwi81r_r_comp-kab237xs-container) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, 1fr)
}

#comp-l1qwi8dn-pinned-layer {
    position: fixed;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    top: 0;
    bottom: unset;
    height: calc(100% - var(--wix-ads-height));
    margin-top: var(--wix-ads-height)
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        width: 80%
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        width: 100%;
        align-self: start;
        margin-left: 2%;
        margin-top: 42px
    }

    #comp-l1qwi7nu_r_comp-k6gjwdd6 {
        height: 148.796875px
    }

    #comp-l1qwi7nu_r_comp-l1h20fd6 {
        margin-left: 27px;
        margin-top: -0.015749999999997044px
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwi81r_r_comp-k9sh4qe5 {
        width: 90%;
        min-width: 0px;
        align-self: end;
        justify-self: start;
        margin-left: 0%;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 40px;
        grid-area: 1/2/2/3
    }

    #comp-l1qwi81r_r_comp-k9sgylox {
        width: 83%;
        max-width: 99999px;
        align-self: center;
        margin-left: 0%;
        margin-top: 0px
    }

    #comp-l1qwi81r_r_comp-k9sh35to {
        width: 95%
    }

    .comp-l1qwi81r_r_comp-k6gjwdge-container {
        grid-template-rows: minmax(50px, max-content) minmax(50px, max-content);
        grid-template-columns: 1.2fr 1fr
    }

    #comp-l1qwi81r_r_comp-k9sgyllt {
        align-self: start;
        justify-self: start;
        margin-left: 80px;
        margin-top: 0px;
        margin-bottom: 0px;
        grid-area: 2/1/3/2
    }

    #comp-l1qwi81r_r_comp-kab237xs {
        width: 72%;
        align-self: end;
        margin-left: 80px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 30px;
        grid-area: 2/1/3/2
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwi81r_r_comp-k9sh4qe5 {
        width: 90%;
        min-width: 0px;
        align-self: start;
        justify-self: start;
        margin-left: 5%;
        margin-right: 0px;
        margin-top: 46px;
        margin-bottom: 40px;
        grid-area: 2/1/3/2
    }

    #comp-l1qwi81r_r_comp-k9sgylox {
        width: 71%;
        max-width: 99999px;
        align-self: center;
        margin-left: 0%;
        margin-top: 0px
    }

    #comp-l1qwi81r_r_comp-kab21j03 {
        width: 106px;
        min-height: 0px
    }

    #comp-l1qwi81r_r_comp-k9sh35to {
        width: 50%;
        min-height: 0px;
        margin-left: 0%
    }

    .comp-l1qwi81r_r_comp-k6gjwdge-container {
        grid-template-rows: minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content) minmax(50px, max-content);
        grid-template-columns: 1fr
    }

    #comp-l1qwi81r_r_comp-k9sgyllt {
        align-self: start;
        justify-self: center;
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 0px;
        grid-area: 4/1/5/2
    }

    #comp-l1qwi81r_r_comp-kab237xs {
        width: 90%;
        align-self: start;
        margin-left: 20px;
        margin-right: 0px;
        margin-top: 200px;
        margin-bottom: 40px;
        grid-area: 4/1/5/2
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwilnh1 {
        min-width: 300px;
        width: 96.57933%;
        max-width: 99999px;
        align-self: flex-start
    }

    #comp-l1qwilns3 {
        margin-top: 30px;
        order: 4
    }

    #comp-l1qwiln1 .comp-l1qwiln1-container {
        grid-template-rows: minmax(500px, max-content);
        grid-template-columns: 1fr 1fr
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwilnw {
        grid-area: 2/1/3/2
    }

    #comp-l1qwilnh1 {
        min-width: 0px;
        width: 100%
    }

    #comp-l1qwilns3 {
        margin-top: 30px;
        order: 4
    }

    #comp-l1qwiln1 {
        min-height: 400px
    }

    #comp-l1qwiln1 .comp-l1qwiln1-container {
        grid-template-rows: minmax(200px, max-content) minmax(200px, max-content);
        grid-template-columns: 1fr
    }

    #comp-l1qwiln53 {
        grid-area: 1/1/2/2
    }
}

#comp-l1qwiln53:not([data-screen-in-hide="done"]) {
    opacity: 0
}

#comp-l1qwi7nu_r_comp-l1h20fd6:not([data-screen-in-hide="done"]) {
    opacity: 0
}

#comp-l1qwi7nu {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49
}

#comp-l1qwi81r {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49
}

#comp-l1qwi8dn-pinned-layer {
    z-index: 54;
    --above-all-in-container: 10000
}

#PAGE_SECTIONSu3lgs {
    --pinned-layer-in-container: 49;
    --above-all-in-container: 49
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
    src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
    src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-style: italic;
    src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
    src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    font-style: italic;
    src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2Ez8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E6CWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=ZqlneECqpsd9SXlmAsD2E5bd9NUM7myrQQz30yPaGQ4&skey=4c8d0d0b13516148&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-weight: 700;
    src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
        url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=yS165lxqGuDghyUMXeu6xZbd9NUM7myrQQz30yPaGQ4&skey=f60e73b1bbf362f3&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-style: italic;
    src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ6g5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ9Ih4imgI8P11RFo6YPCPC0.woff") format("woff"),
        url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ102b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=xJLokI-F3wr7NRWXgS0pZ5S_ZaL0arjVp2tkn2-HJhM&skey=989d87b0113009a2&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Barlow-Medium";
    font-weight: 700;
    font-style: italic;
    src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
    src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
        url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xqg5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
        url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xtIh4imgI8P11RFo6YPCPC0.woff") format("woff"),
        url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xl02b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
        url("//fonts.gstatic.com/l/font?kit=hw7DQwyFvE7wFOFzpow4xpS_ZaL0arjVp2tkn2-HJhM&skey=25c93348b6ec64d8&v=v1#Barlow") format("svg");
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs0wH8DnzcjTrA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs1wH8DnzcjTrA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs7wH8Dnzcj.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WohvToJdLm8BvE.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WogvToJdLm8BvE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 700;
    src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WouvToJdLm8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-display: block;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-display: block;
    font-family: "Proxima-N-W01-Reg";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235") format("svg");
}

@font-face {
    font-family: "Proxima-N-W05-Reg";
    src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff2") format("woff2"),
        url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/ProximNova/v1/ProximaNovaW05-Regular.woff") format("woff");
}

#comp-l1qwi7nu_r_comp-l1h20fd6:not(.is-animating),
#comp-l1qwi7nu_r_comp-l1h20fd6:not(.is-animating)> :not(.is-animating) {
    transition: all 0.4s ease-out 0s
}

#comp-l1qwi7nu_r_comp-l1h20fd6 {
    opacity: 1;
    transform: translateX(0px)translateY(0px)scaleX(1)scaleY(1)rotate(0deg)skewX(0deg)skewY(0deg)
}

#comp-l1qwi7nu_r_comp-l1h20fd6:hover {
    opacity: 1;
    transform: translateX(0px)translateY(0px)scaleX(1)scaleY(1)rotate(0deg)skewX(0deg)skewY(5deg)
}

#comp-l1qwilnw {
    --backgroundColor: var(--color_8);
    --borderColor: var(--color_8);
    --borderWidth: 0px;
    --cornerRadius: 0px;
    --boxShadow: none;
    --mediaOpacity: 1;
    --alpha-backgroundColor: 1;
    --alpha-borderColor: 1
}

#comp-l1qwi81r_r_comp-k9sh4qe5 {
    --fontStyle: normal;
    --textScale__minFontSize: 12;
    --color: var(--color_11);
    --alpha-color: 1;
    --fontFamily: poppins-extralight, poppins, sans-serif;
    --letterSpacing: 0.3em;
    --lineHeight: 1.6em;
    --fontSize: 24px;
    --textScale__maxFontSize: 24;
    --fontWeight: bold
}

#comp-l1qwi81r_r_comp-k9sh4qe5 p,
#comp-l1qwi81r_r_comp-k9sh4qe5 h1,
#comp-l1qwi81r_r_comp-k9sh4qe5 h2,
#comp-l1qwi81r_r_comp-k9sh4qe5 h3,
#comp-l1qwi81r_r_comp-k9sh4qe5 h4,
#comp-l1qwi81r_r_comp-k9sh4qe5 h5,
#comp-l1qwi81r_r_comp-k9sh4qe5 h6,
#comp-l1qwi81r_r_comp-k9sh4qe5 ul,
#comp-l1qwi81r_r_comp-k9sh4qe5 ol {
    color: #FFFFFF;
    font-family: poppins-extralight, poppins, sans-serif;
    font-weight: bold;
    font-size: calc(12px + (24 - 12) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    font-style: normal;
    letter-spacing: 0.3em;
    line-height: 1.6;
    min-height: 0vw
}

#comp-l1qwilnh1 {
    --textScale__minFontSize: 46;
    --color: var(--color_11);
    --alpha-color: 1;
    --textAlign: left;
    --lineHeight: 1.2em;
    --fontSize: 70px;
    --textScale__maxFontSize: 62
}

#comp-l1qwilnh1 p,
#comp-l1qwilnh1 h1,
#comp-l1qwilnh1 h2,
#comp-l1qwilnh1 h3,
#comp-l1qwilnh1 h4,
#comp-l1qwilnh1 h5,
#comp-l1qwilnh1 h6,
#comp-l1qwilnh1 ul,
#comp-l1qwilnh1 ol {
    color: #FFFFFF;
    font-size: calc(46px + (62 - 46) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize))));
    text-align: left;
    line-height: 1.2;
    min-height: 0vw
}

#comp-l1qwilnp4 {
    --color: var(--color_11);
    --alpha-color: 1;
    --textAlign: left;
    --lineHeight: 1.6em;
    --fontSize: 20px
}

#comp-l1qwilnp4 p,
#comp-l1qwilnp4 h1,
#comp-l1qwilnp4 h2,
#comp-l1qwilnp4 h3,
#comp-l1qwilnp4 h4,
#comp-l1qwilnp4 h5,
#comp-l1qwilnp4 h6,
#comp-l1qwilnp4 ul,
#comp-l1qwilnp4 ol {
    color: #FFFFFF;
    font-size: 20px;
    text-align: left;
    line-height: 1.6
}

#comp-l1qwilns3 {
    --rd: 0px;
    --trans1: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
    --shd: none;
    --horizontalPadding: 15px;
    --verticalPadding: 10px;
    --fnt: normal normal normal 16px/1.4em proxima-n-w01-reg, proxima-n-w05-reg, sans-serif;
    --trans2: color 0.4s ease 0s;
    --txt: var(--color_11);
    --bg: 255, 255, 255;
    --brd: var(--color_11);
    --brw: 2px;
    --bgh: var(--color_11);
    --brdh: 29, 44, 243;
    --txth: var(--color_15);
    --bgd: 204, 204, 204;
    --alpha-bgd: 1;
    --txtd: 255, 255, 255;
    --alpha-txtd: 1;
    --alpha-txth: 1;
    --alpha-brdh: 0;
    --alpha-brd: 1;
    --alpha-bg: 0;
    --alpha-bgh: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --shc-mutated-brightness: 128, 128, 128;
    --label-align: center;
    --label-text-align: center
}

#comp-l1qwi7nu_r_comp-l1h20fdx1 {
    --fontSize: 15px;
    --fontFamily: poppins-extralight, poppins, sans-serif;
    --fontWeight: bold;
    --color: var(--color_11);
    --alpha-color: 1;
    --fontStyle: normal;
    --lineHeight: 1.4em;
    --letterSpacing: 0.25em
}

#comp-l1qwi7nu_r_comp-l1h20fdx1 p,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h1,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h2,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h3,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h4,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h5,
#comp-l1qwi7nu_r_comp-l1h20fdx1 h6,
#comp-l1qwi7nu_r_comp-l1h20fdx1 ul,
#comp-l1qwi7nu_r_comp-l1h20fdx1 ol {
    color: #FFFFFF;
    font-family: poppins-extralight, poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.25em;
    line-height: 1.4
}

#comp-l1qwi81r_r_comp-k9sgylox {
    --fontSize: 15px;
    --fontFamily: poppins-extralight, poppins, sans-serif;
    --fontWeight: bold;
    --color: var(--color_11);
    --alpha-color: 1;
    --fontStyle: normal;
    --lineHeight: 1.4em;
    --letterSpacing: 0.25em
}

#comp-l1qwi81r_r_comp-k9sgylox p,
#comp-l1qwi81r_r_comp-k9sgylox h1,
#comp-l1qwi81r_r_comp-k9sgylox h2,
#comp-l1qwi81r_r_comp-k9sgylox h3,
#comp-l1qwi81r_r_comp-k9sgylox h4,
#comp-l1qwi81r_r_comp-k9sgylox h5,
#comp-l1qwi81r_r_comp-k9sgylox h6,
#comp-l1qwi81r_r_comp-k9sgylox ul,
#comp-l1qwi81r_r_comp-k9sgylox ol {
    color: #FFFFFF;
    font-family: poppins-extralight, poppins, sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0.25em;
    line-height: 1.4
}

#comp-l1qwi81r_r_comp-kab21j03 {
    --item-size: 30px;
    --item-margin: 0 8px 0 0;
    --item-display: inline-block;
    --flex-direction: row
}

#comp-l1qwi81r_r_comp-k9sh35to {
    --color: var(--color_11);
    --alpha-color: 1
}

#comp-l1qwi81r_r_comp-k9sh35to p,
#comp-l1qwi81r_r_comp-k9sh35to h1,
#comp-l1qwi81r_r_comp-k9sh35to h2,
#comp-l1qwi81r_r_comp-k9sh35to h3,
#comp-l1qwi81r_r_comp-k9sh35to h4,
#comp-l1qwi81r_r_comp-k9sh35to h5,
#comp-l1qwi81r_r_comp-k9sh35to h6,
#comp-l1qwi81r_r_comp-k9sh35to ul,
#comp-l1qwi81r_r_comp-k9sh35to ol {
    color: #FFFFFF
}

#u3lgs {
    --bg: var(--color_11);
    --alpha-bg: 1;
    --shc-mutated-brightness: 128, 128, 128
}

#comp-l1qwi7nu {
    --alpha-bg: 0;
    --bg: var(--color_11)
}

#comp-l1qwi81r {
    --alpha-bg: 0;
    --bg: var(--color_11)
}

#comp-l1qwi8dn {
    --alpha-bg: 0;
    --bg: var(--color_11)
}

#comp-l1qwiln1 {
    --bg: var(--color_11);
    --alpha-bg: 0;
    --bg-overlay-color: rgb(var(--color_13));
    --bg-gradient: none
}

#comp-l1qwi7nu_r_comp-k6gjwdd6 {
    --bg: var(--color_13);
    --alpha-bg: 1
}

#comp-l1qwi81r_r_comp-k6gjwdge {
    --bg: var(--color_15);
    --alpha-bg: 1
}

#comp-l1qwi8dn_r_comp-k9ttg4ds {
    --containerBackground: var(--color_15);
    --alpha-containerBackground: 1;
    --bg: var(--color_15);
    --alpha-bg: 0.8;
    --screen-width: 100vw
}

#comp-l1qwiln53 {
    --brw: 0px;
    --brd: var(--color_15);
    --bg: 0, 0, 0;
    --rd: 0px;
    --shd: none;
    --alpha-brd: 0;
    --alpha-bg: 0;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 0, 0, 0, 0
}

#comp-l1qwi7nu_r_comp-l1h20fd6 {
    --brw: 0px;
    --brd: var(--color_11);
    --bg: var(--color_15);
    --rd: 122px 122px 122px 122px;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 19, 19, 19
}

#comp-l1qwi81r_r_comp-k9sgyllt {
    --brw: 1px;
    --brd: var(--color_11);
    --bg: var(--color_15);
    --rd: 122px 122px 122px 122px;
    --shd: none;
    --alpha-bg: 1;
    --alpha-brd: 1;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 19, 19, 19
}

#comp-l1qwi81r_r_comp-kab237xs {
    --brw: 0px;
    --brd: var(--color_15);
    --bg: 255, 255, 255;
    --rd: 0px;
    --shd: none;
    --alpha-bg: 0;
    --alpha-brd: 0;
    --boxShadowToggleOn-shd: none;
    --shc-mutated-brightness: 128, 128, 128
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        --fontStyle: normal;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --letterSpacing: 0.25em;
        --lineHeight: 1.4em;
        --fontSize: 14px;
        --fontWeight: bold
    }

    #comp-l1qwi7nu_r_comp-l1h20fdx1 p,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h1,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h2,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h3,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h4,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h5,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h6,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 ul,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 ol {
        font-size: 14px !important
    }

    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        --fontStyle: normal;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --letterSpacing: 0.25em;
        --lineHeight: 1.4em;
        --fontSize: 13px;
        --fontWeight: bold
    }

    #comp-l1qwi7nu_r_comp-l1h20fdx1 p,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h1,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h2,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h3,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h4,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h5,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 h6,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 ul,
    #comp-l1qwi7nu_r_comp-l1h20fdx1 ol {
        font-size: 13px !important
    }

    #comp-l1qwi7nu_r_comp-l1h20fdx1 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwi81r_r_comp-k9sh35to {
        --color: var(--color_11);
        --alpha-color: 1
    }

    #comp-l1qwi81r_r_comp-k9sh35to {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwi81r_r_comp-k9sh4qe5 {
        --fontStyle: normal;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontWeight: bold;
        --fontSize: 12px;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --lineHeight: 1.6em;
        --letterSpacing: 0.3em
    }

    #comp-l1qwi81r_r_comp-k9sh4qe5 p,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h1,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h2,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h3,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h4,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h5,
    #comp-l1qwi81r_r_comp-k9sh4qe5 h6,
    #comp-l1qwi81r_r_comp-k9sh4qe5 ul,
    #comp-l1qwi81r_r_comp-k9sh4qe5 ol {
        font-size: 12px !important
    }

    #comp-l1qwi81r_r_comp-k9sgylox {
        --fontSize: 14px;
        --fontFamily: poppins-extralight, poppins, sans-serif;
        --fontWeight: bold;
        --color: var(--color_11);
        --alpha-color: 1;
        --fontStyle: normal;
        --lineHeight: 1.4em;
        --letterSpacing: 0.32em
    }

    #comp-l1qwi81r_r_comp-k9sgylox p,
    #comp-l1qwi81r_r_comp-k9sgylox h1,
    #comp-l1qwi81r_r_comp-k9sgylox h2,
    #comp-l1qwi81r_r_comp-k9sgylox h3,
    #comp-l1qwi81r_r_comp-k9sgylox h4,
    #comp-l1qwi81r_r_comp-k9sgylox h5,
    #comp-l1qwi81r_r_comp-k9sgylox h6,
    #comp-l1qwi81r_r_comp-k9sgylox ul,
    #comp-l1qwi81r_r_comp-k9sgylox ol {
        font-size: 14px !important;
        letter-spacing: 0.32em !important
    }

    #comp-l1qwi81r_r_comp-k9sh4qe5 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }

    #comp-l1qwi81r_r_comp-k9sgylox {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }
}

@media (min-width: 320px) and (max-width: 1000px) {
    #comp-l1qwilnh1 {
        --textScale__minFontSize: 32;
        --color: var(--color_11);
        --alpha-color: 1;
        --textAlign: left;
        --lineHeight: 1.3em;
        --fontSize: 50px;
        --textScale__maxFontSize: 46
    }

    #comp-l1qwilnh1 p,
    #comp-l1qwilnh1 h1,
    #comp-l1qwilnh1 h2,
    #comp-l1qwilnh1 h3,
    #comp-l1qwilnh1 h4,
    #comp-l1qwilnh1 h5,
    #comp-l1qwilnh1 h6,
    #comp-l1qwilnh1 ul,
    #comp-l1qwilnh1 ol {
        font-size: calc(32px + (46 - 32) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize)))) !important;
        line-height: 1.3 !important
    }

    #comp-l1qwilnp4 {
        --color: var(--color_11);
        --alpha-color: 1;
        --textAlign: left;
        --lineHeight: 1.6em;
        --fontSize: 18px
    }

    #comp-l1qwilnp4 p,
    #comp-l1qwilnp4 h1,
    #comp-l1qwilnp4 h2,
    #comp-l1qwilnp4 h3,
    #comp-l1qwilnp4 h4,
    #comp-l1qwilnp4 h5,
    #comp-l1qwilnp4 h6,
    #comp-l1qwilnp4 ul,
    #comp-l1qwilnp4 ol {
        font-size: 18px !important
    }

    #comp-l1qwilnh1 {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }

    #comp-l1qwilnp4 {
        --minViewportSize: 320;
        --maxViewportSize: 1000
    }
}

@media (min-width: 320px) and (max-width: 750px) {
    #comp-l1qwilnh1 {
        --textScale__minFontSize: 32;
        --color: var(--color_11);
        --alpha-color: 1;
        --textAlign: left;
        --fontSize: 28px;
        --textScale__maxFontSize: 46
    }

    #comp-l1qwilnh1 p,
    #comp-l1qwilnh1 h1,
    #comp-l1qwilnh1 h2,
    #comp-l1qwilnh1 h3,
    #comp-l1qwilnh1 h4,
    #comp-l1qwilnh1 h5,
    #comp-l1qwilnh1 h6,
    #comp-l1qwilnh1 ul,
    #comp-l1qwilnh1 ol {
        font-size: calc(32px + (46 - 32) * ((100vw - var(--minViewportSize) * 1px) / (var(--maxViewportSize) - var(--minViewportSize)))) !important
    }

    #comp-l1qwilnh1 {
        --minViewportSize: 320;
        --maxViewportSize: 750
    }
}