<!--
-->
#comp-l1qwilnw
{
    clip-path:
initial;
-webkit-clip-path:
initial;
}
#comp-l1qwilnw
wix-bg-media
{
    top:
0;
left:
0;
position:
absolute;
width:
100%;
height:
100%;
}
#comp-l1qwilnw
img
{
    top:
calc(((var(--top)
-
var(--scroll,
0))
/
var(--screenH_val))
*
-50%);
will-change:
top;
position:
absolute;
height:
150%;
}