
<style id="css_masterPage">
   

    :root {
        --color_0: 255, 255, 255;
        --color_27: 179, 130, 230;
        --color_1: 255, 255, 255;
        --color_2: 0, 0, 0;
        --color_3: 237, 28, 36;
        --color_4: 0, 136, 203;
        --color_5: 255, 203, 5;
        --color_6: 114, 114, 114;
        --color_7: 176, 176, 176;
        --color_8: 255, 255, 255;
        --color_28: 122, 28, 217;
        --color_9: 114, 114, 114;
        --color_10: 176, 176, 176;
        --color_11: 255, 255, 255;
        --color_12: 243, 243, 243;
        --color_13: 253, 191, 74;
        --color_14: 62, 62, 62;
        --color_15: 38, 38, 38;
        --color_16: 255, 202, 173;
        --color_17: 255, 176, 132;
        --color_18: 255, 96, 10;
        --color_29: 81, 19, 145;
        --color_19: 170, 64, 7;
        --color_20: 85, 32, 3;
        --color_21: 169, 182, 247;
        --color_22: 126, 145, 238;
        --color_23: 14, 50, 230;
        --color_24: 9, 33, 153;
        --color_25: 5, 17, 77;
        --color_30: 41, 9, 72;
        --color_31: 160, 226, 202;
        --color_32: 110, 197, 165;
        --color_33: 20, 168, 114;
        --color_34: 13, 112, 76;
        --color_35: 7, 56, 38;
        --font_0: normal normal normal 250px/1.4em barlow-medium, barlow, sans-serif;
        --font_1: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
        --font_2: normal normal normal 85px/1.4em barlow-medium, barlow, sans-serif;
        --font_3: normal normal normal 88px/1.4em barlow-extralight, barlow, sans-serif;
        --font_4: normal normal normal 75px/1.4em barlow-extralight, barlow, sans-serif;
        --font_5: normal normal bold 24px/1.4em poppins-extralight, poppins, sans-serif;
        --font_6: normal normal bold 14px/1.4em poppins-extralight, poppins, sans-serif;
        --font_7: normal normal normal 22px/1.4em barlow-medium, barlow, sans-serif;
        --font_8: normal normal bold 16px/1.4em barlow-extralight, barlow, sans-serif;
        --font_9: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, avenir-lt-w05_35-light, sans-serif;
        --font_10: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
        --wix-ads-height: 0px;
        --wix-ads-top-height: 0px;
        --site-width: 980px;
        --above-all-z-index: 100000;
        --portals-z-index: 100001;
        --minViewportSize: 320;
        --color_26: 207, 172, 242;
        --maxViewportSize: 1920
    }

    .font_0 {
        font: var(--font_0);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_1 {
        font: var(--font_1);
        color: rgb(var(--color_14));
        letter-spacing: 0em
    }

    .font_2 {
        font: var(--font_2);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_3 {
        font: var(--font_3);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_4 {
        font: var(--font_4);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_5 {
        font: var(--font_5);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_6 {
        font: var(--font_6);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_7 {
        font: var(--font_7);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_8 {
        font: var(--font_8);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_9 {
        font: var(--font_9);
        color: rgb(var(--color_15));
        letter-spacing: 0em
    }

    .font_10 {
        font: var(--font_10);
        color: rgb(var(--color_14));
        letter-spacing: 0em
    }

    .color_0 {
        color: rgb(var(--color_0))
    }

    .color_1 {
        color: rgb(var(--color_1))
    }

    .color_2 {
        color: rgb(var(--color_2))
    }

    .color_3 {
        color: rgb(var(--color_3))
    }

    .color_4 {
        color: rgb(var(--color_4))
    }

    .color_5 {
        color: rgb(var(--color_5))
    }

    .color_6 {
        color: rgb(var(--color_6))
    }

    .color_7 {
        color: rgb(var(--color_7))
    }

    .color_8 {
        color: rgb(var(--color_8))
    }

    .color_9 {
        color: rgb(var(--color_9))
    }

    .color_10 {
        color: rgb(var(--color_10))
    }

    .color_11 {
        color: rgb(var(--color_11))
    }

    .color_12 {
        color: rgb(var(--color_12))
    }

    .color_13 {
        color: rgb(var(--color_13))
    }

    .color_14 {
        color: rgb(var(--color_14))
    }

    .color_15 {
        color: rgb(var(--color_15))
    }

    .color_16 {
        color: rgb(var(--color_16))
    }

    .color_17 {
        color: rgb(var(--color_17))
    }

    .color_18 {
        color: rgb(var(--color_18))
    }

    .color_19 {
        color: rgb(var(--color_19))
    }

    .color_20 {
        color: rgb(var(--color_20))
    }

    .color_21 {
        color: rgb(var(--color_21))
    }

    .color_22 {
        color: rgb(var(--color_22))
    }

    .color_23 {
        color: rgb(var(--color_23))
    }

    .color_24 {
        color: rgb(var(--color_24))
    }

    .color_25 {
        color: rgb(var(--color_25))
    }

    .color_26 {
        color: rgb(var(--color_26))
    }

    .color_27 {
        color: rgb(var(--color_27))
    }

    .color_28 {
        color: rgb(var(--color_28))
    }

    .color_29 {
        color: rgb(var(--color_29))
    }

    .color_30 {
        color: rgb(var(--color_30))
    }

    .color_31 {
        color: rgb(var(--color_31))
    }

    .color_32 {
        color: rgb(var(--color_32))
    }

    .color_33 {
        color: rgb(var(--color_33))
    }

    .color_34 {
        color: rgb(var(--color_34))
    }

    .color_35 {
        color: rgb(var(--color_35))
    }

    .backcolor_0 {
        background-color: rgb(var(--color_0))
    }

    .backcolor_1 {
        background-color: rgb(var(--color_1))
    }

    .backcolor_2 {
        background-color: rgb(var(--color_2))
    }

    .backcolor_3 {
        background-color: rgb(var(--color_3))
    }

    .backcolor_4 {
        background-color: rgb(var(--color_4))
    }

    .backcolor_5 {
        background-color: rgb(var(--color_5))
    }

    .backcolor_6 {
        background-color: rgb(var(--color_6))
    }

    .backcolor_7 {
        background-color: rgb(var(--color_7))
    }

    .backcolor_8 {
        background-color: rgb(var(--color_8))
    }

    .backcolor_9 {
        background-color: rgb(var(--color_9))
    }

    .backcolor_10 {
        background-color: rgb(var(--color_10))
    }

    .backcolor_11 {
        background-color: rgb(var(--color_11))
    }

    .backcolor_12 {
        background-color: rgb(var(--color_12))
    }

    .backcolor_13 {
        background-color: rgb(var(--color_13))
    }

    .backcolor_14 {
        background-color: rgb(var(--color_14))
    }

    .backcolor_15 {
        background-color: rgb(var(--color_15))
    }

    .backcolor_16 {
        background-color: rgb(var(--color_16))
    }

    .backcolor_17 {
        background-color: rgb(var(--color_17))
    }

    .backcolor_18 {
        background-color: rgb(var(--color_18))
    }

    .backcolor_19 {
        background-color: rgb(var(--color_19))
    }

    .backcolor_20 {
        background-color: rgb(var(--color_20))
    }

    .backcolor_21 {
        background-color: rgb(var(--color_21))
    }

    .backcolor_22 {
        background-color: rgb(var(--color_22))
    }

    .backcolor_23 {
        background-color: rgb(var(--color_23))
    }

    .backcolor_24 {
        background-color: rgb(var(--color_24))
    }

    .backcolor_25 {
        background-color: rgb(var(--color_25))
    }

    .backcolor_26 {
        background-color: rgb(var(--color_26))
    }

    .backcolor_27 {
        background-color: rgb(var(--color_27))
    }

    .backcolor_28 {
        background-color: rgb(var(--color_28))
    }

    .backcolor_29 {
        background-color: rgb(var(--color_29))
    }

    .backcolor_30 {
        background-color: rgb(var(--color_30))
    }

    .backcolor_31 {
        background-color: rgb(var(--color_31))
    }

    .backcolor_32 {
        background-color: rgb(var(--color_32))
    }

    .backcolor_33 {
        background-color: rgb(var(--color_33))
    }

    .backcolor_34 {
        background-color: rgb(var(--color_34))
    }

    .backcolor_35 {
        background-color: rgb(var(--color_35))
    }

    #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus,
    #SITE_CONTAINER.focus-ring-active :not(.has-custom-focus):not(.ignore-focus):focus~.wixSdkShowFocusOnSibling {
        box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px #116dff !important;
        z-index: 1
    }

    [data-mesh-id=SITE_HEADERinlineContent] {
        height: auto;
        width: 100%;
        position: static;
        min-height: 111px
    }

    [data-mesh-id=SITE_FOOTERinlineContent] {
        height: auto;
        width: 100%;
        position: static;
        min-height: 132px
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-Medium";
        src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E_Y6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2Ez8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/ZqlneECqpsd9SXlmAsD2E6CWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=ZqlneECqpsd9SXlmAsD2E5bd9NUM7myrQQz30yPaGQ4&skey=4c8d0d0b13516148&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-Medium";
        font-weight: 700;
        src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/yS165lxqGuDghyUMXeu6xaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=yS165lxqGuDghyUMXeu6xZbd9NUM7myrQQz30yPaGQ4&skey=f60e73b1bbf362f3&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-Medium";
        font-style: italic;
        src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ-ZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ6g5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ9Ih4imgI8P11RFo6YPCPC0.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/xJLokI-F3wr7NRWXgS0pZ102b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=xJLokI-F3wr7NRWXgS0pZ5S_ZaL0arjVp2tkn2-HJhM&skey=989d87b0113009a2&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-Medium";
        font-weight: 700;
        font-style: italic;
        src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xuZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xqg5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xtIh4imgI8P11RFo6YPCPC0.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/hw7DQwyFvE7wFOFzpow4xl02b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=hw7DQwyFvE7wFOFzpow4xpS_ZaL0arjVp2tkn2-HJhM&skey=25c93348b6ec64d8&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 400;
        src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs0wH8DnzcjTrA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 400;
        src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs1wH8DnzcjTrA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 400;
        src: local('Barlow Italic'), local('Barlow-Italic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHrv4kjgoGqM7E_Cfs7wH8Dnzcj.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 700;
        src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WohvToJdLm8BvE.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 700;
        src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WogvToJdLm8BvE.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: italic;
        font-weight: 700;
        src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'), url(https://fonts.gstatic.com/s/barlow/v4/7cHsv4kjgoGqM7E_CfOA5WouvToJdLm8.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_A8s5ynghnQci.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_Ass5ynghnQci.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        src: local('Barlow Regular'), local('Barlow-Regular'), url(https://fonts.gstatic.com/s/barlow/v4/7cHpv4kjgoGqM7E_DMs5ynghnQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Fostz0rdom9.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s6Vostz0rdom9.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        src: local('Barlow Bold'), local('Barlow-Bold'), url(https://fonts.gstatic.com/s/barlow/v4/7cHqv4kjgoGqM7E3t-4s51ostz0rdg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: "DIN-Next-W01-Light";
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "DIN-Next-W02-Light";
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix");
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/48e5a0e1-2d56-46e5-8fc4-3d6d5c973cbf.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/07d62b21-8d7a-4c36-be86-d32ab1089972.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c0050890-bbed-44b9-94df-2611d72dbb06.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/9f774d17-c03a-418e-a375-34f3beecbc7a.svg#9f774d17-c03a-418e-a375-34f3beecbc7a") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "DIN-Next-W10-Light";
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix");
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3d009cd7-c8fe-40c0-93da-74f4ea8c530b.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/a9e95a29-98a7-404a-90ee-1929ad09c696.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0a7663fd-eae8-4e50-a67a-225271f8cceb.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/58ae9be9-5d95-44b6-8b6c-e6da6a46822c.svg#58ae9be9-5d95-44b6-8b6c-e6da6a46822c") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-ExtraLight";
        src: url("//fonts.gstatic.com/s/barlow/v1/51v0xj5VPw1cLYHNhfd8NPY6323mHUZFJMgTvxaG2iE.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/51v0xj5VPw1cLYHNhfd8NPY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/51v0xj5VPw1cLYHNhfd8NFtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/51v0xj5VPw1cLYHNhfd8ND8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/51v0xj5VPw1cLYHNhfd8NKCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=51v0xj5VPw1cLYHNhfd8NJbd9NUM7myrQQz30yPaGQ4&skey=e8c74abecf94633e&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-ExtraLight";
        font-weight: 700;
        src: url("//fonts.gstatic.com/s/barlow/ /SWLcTgmyMR1GjdNjixEPiQ.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/SWLcTgmyMR1GjdNjixEPiQ.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/2woyxyDnPU0v4IiqYU9D1g.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/-HJgNsTwx9qXGSxqew62RQ.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/qoExc9IJQUjYXhlVZNNLgg.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=lYNHuF7-w_9_po3MKWoAsw&skey=32d7acf8757dbad0&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-ExtraLight";
        font-style: italic;
        src: url("//fonts.gstatic.com/s/barlow/v1/14AxwKgJhKIO-YYUP_KtZeZiE7IA0Up7-VwGqa0iGVY.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/14AxwKgJhKIO-YYUP_KtZeZiE7IA0Up7-VwGqa0iGVY.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/14AxwKgJhKIO-YYUP_KtZag5eI2G47JWe0-AuFtD150.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/14AxwKgJhKIO-YYUP_KtZdIh4imgI8P11RFo6YPCPC0.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/14AxwKgJhKIO-YYUP_KtZV02b4v3fUxqf9CZJ1qUoIA.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=14AxwKgJhKIO-YYUP_KtZZS_ZaL0arjVp2tkn2-HJhM&skey=9a40589dc4645af7&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Barlow-ExtraLight";
        font-weight: 700;
        font-style: italic;
        src: url("//fonts.gstatic.com/s/barlow/v1/8p49G4DnpMZgB5cGwNFgJvesZW2xOQ-xsNqO47m55DA.eot?#iefix");
        src: url("//fonts.gstatic.com/s/barlow/v1/8p49G4DnpMZgB5cGwNFgJvesZW2xOQ-xsNqO47m55DA.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/barlow/v1/cdbGxfKO8gdkBd5U5TuXqPesZW2xOQ-xsNqO47m55DA.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/barlow/v1/W1XpMGU0WrpbCawEdG1FM_esZW2xOQ-xsNqO47m55DA.woff") format("woff"),
            url("//fonts.gstatic.com/s/barlow/v1/_lIpJP17FZmSeklpAeOdnvesZW2xOQ-xsNqO47m55DA.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=MGR_1eUqfxpTc1K5cbfqWvesZW2xOQ-xsNqO47m55DA&skey=ae428d300932fbee&v=v1#Barlow") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5#Poppins") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-weight: 700;
        src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5#Poppins") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-style: italic;
        src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5#Poppins") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: "Poppins-ExtraLight";
        font-weight: 700;
        font-style: italic;
        src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix");
        src: url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?#iefix") format("eot"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
            url("//fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
            url("//fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5#Poppins") format("svg");
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAOvWDSHFF.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAOvWDSHFF.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtAOvWDSA.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOYktMqlap.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOYktMqlap.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 700;
        src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eOYktMqg.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecnFHGPezSQ.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFd2JQEl8qw.woff2) format('woff2');
        unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFd2JQEl8qw.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    @font-face {
        font-display: block;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFd2JQEk.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
        font-display: block;
        font-family: "Avenir-LT-W01_35-Light1475496";
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
        src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"), url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
    }

    @font-face {
        font-family: "Avenir-LT-W05_35-Light";
        src: url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-35Light.woff2") format("woff2"),
            url("//static.parastorage.com/services/santa-resources/resources/viewer/user-site-fonts/fonts/Avenir_Family_Pack/v1/AvenirLTW05-35Light.woff") format("woff");
    }

    #SITE_PAGES {
        --transition-duration: 700ms
    }

    #BACKGROUND_GROUP {
        --transition-duration: 700ms
    }
    </style>